.todo {
  width: var(--width);
  border-radius: 1rem;
  background-color: var(--white-color);
  padding: 2rem;
  margin: var(--margin-y) auto;
}

.todo-items {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.todo-items li {
  padding: 1.5rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.todo-items li:nth-child(odd) {
  background-color: var(--odd-list-bg);
}

.todo-items li:nth-child(even) {
  background-color: var(--even-list-bg);
}

.date {
  flex-direction: column;
  align-items: end;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.todo-items li.is-done {
  background-color: var(--bg-list-done);
}

.todo-items li.is-done p {
  text-decoration: line-through;
  color: var(--light-black-bg);
}

.todo-items li.is-done i {
  color: var(--light-black-bg);
  text-decoration: none;
}

.form-edit {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-edit-pop {
  width: var(--width);
  border-radius: 1rem;
  background-color: var(--white-color);
  padding: 2rem;
}

.form-edit-pop p {
  margin-bottom: 1.2rem;
}

@media (max-width: 58rem) {
  .todo {
    width: 90%;
    margin: 3.2rem auto;
    min-width: 32rem;
  }

  .form-edit-pop {
    width: 90%;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .todo-items li {
    padding: 1.6rem 1.4rem;
  }
}
